.whatever {
    display: flex;
    justify-content: space-between;
    padding: 30px;
    border: 1px solid red;
}

.chevron.down {
    transform: rotate(270deg);
}

.chevron.right {
    transform: rotate(180deg);
}
